scripts/human_face.jpg
scripts/human_face2.jpg
.DS_Store
scripts/__pycache__/face_detection.cpython-36.pyc
scripts/__pycache__/interface.cpython-36.pyc
scripts/__pycache__/face_detection.cpython-39.pyc
.gitignore
scripts/__pycache__/interface.cpython-39.pyc
scripts/__pycache__/face_page1.cpython-39.pyc
scripts/smile_emoji.png
scripts/smile_emoji2.png
scripts/smile_emoji3.png
Pipfile
.gitignore
Pipfile.lock
scripts/new.jpg
scripts/app1.py
scripts/human_face4.jpg
scripts/human_face3.png
scripts/Untitled..wav
